*{
    overflow-x: hidden;
}

.body__container {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.cards_and_search__container{
    display: flex;
    flex-direction: column;
}

.search__container{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
    margin: 15px 0 6px 0;
}

.filter-panel {
    position: absolute;
    top: 120px;
    left: -120%;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

.filter-panel.open {
    left: 0;
}

@media (max-width : 1200px){
    .body__container {
        display: flex;
        flex-direction: column;
    }
}