.post__list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    justify-items: center;
}

@media (max-width: 920px) {
    .post__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}