.filter_group{
    width: 100%;
    height: min-content;
    background-color: #d37b3d;
    color: white;
    border-radius: 15px;
}

.filter_group:last-child{
    padding-bottom: 10px;
}

.filter__title{
    margin-left: 10px;
    overflow-y: hidden;
}

@media (max-width: 920px){
    .filter_group{
        margin-top: 0;
        width: 100vw;
        height: 100%;
    }
}