.card {
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ff9143;
    border-radius: 20px;
    background-color: #1e202a;
    margin: 10px 0;
    gap: 10px;
    padding: 20px;
}


.card__title {
    text-align: center;
    margin: 0;
    font-size: 1.8rem;
}

.card__img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card__class_list{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.card__class{
    border: 2px solid #9e9e9e;
    border-radius: 10px;
    padding: 1px 3px;
    margin: 0;
}

.card__desc {
    margin: 0;
}

.btn_container{
    width: 100%;
    align-items: start;
    margin: 0;
}

@media (max-width : 500px){
    .card{
        max-width: 80%;
    }
}